section.main#main
  .container
    .main__content
      h1 Пансионат премиум-класса в Новосибирске
      ul
        li Уход при деменции
        li Патронажный уход
        li Медицинское обслуживание 24/7
        li Медицинская лицензия № ЛО-22-01-005733
      button.btn.main__button доверить заботу
  img.main__img.human(src="assets/img/old_human.svg", alt="")
  img.main__img.doctor(src="assets/img/doctor.svg", alt="")
  button.main__scroll(data-goto=".about")
    img(src="assets/img/arrow.svg", alt="")
