section.about
  .container
    .about-head(data-aos="fade-up")
      p – наш девиз –
      h2 Аврора – это преждевсего люди
    .about-image(data-aos="fade-up")
      img(src="assets/img/about.svg", alt="врора – это преждевсего люди")
    .about-content
      .about-content__column(data-aos="fade-right")
        .about-content__item
          .about-content__icon
            img(src="assets/img/icons/about-1.svg", alt="")
          .about-content__text
            p Прибывание в комфортных условиях
        .about-content__item
          .about-content__icon
            img(src="assets/img/icons/about-2.svg", alt="")
          .about-content__text
            p Возможность индивидуального ухода
      .about-content__column(data-aos="fade-left")
        .about-content__item
          .about-content__icon
            img(src="assets/img/icons/about-3.svg", alt="")
          .about-content__text
            p 24/7 медицинская помощь и процедуры
        .about-content__item
          .about-content__icon
            img(src="assets/img/icons/about-4.svg", alt="")
          .about-content__text
            p Психологическая помощь и поддержка
