section.work
  .container
    .work-head(data-aos="fade-up")
      p – с заботой и любовью –
      h2 Мы работаем для
    .work-body
      .work-body__item(data-aos="zoom-in")
        img(src="assets/img/work-1.svg", alt="")
        p Немощных
      .work-body__item(data-aos="zoom-in" data-aos-delay="300")
        img(src="assets/img/work-2.svg", alt="")
        p Пожилых
      .work-body__item(data-aos="zoom-in" data-aos-delay="600")
        img(src="assets/img/work-3.svg", alt="")
        p Больных
    .work-footer( data-aos="zoom-in-up")
      .work-footer__descr Мы заботимся о комфорте старшего поколенияи поэтому нам доверяют
      button.btn.work-footer__btn(data-popup="#mainForm") узнать наличие мест
