section.expert
  .container
    .expert-head(data-aos="fade-up")
      p – Мы хотим сделать вашу жизнь лучше –
      h2 специалисты
    .expert-slider(data-aos="fade-up")
      .swiper-wrapper
        .swiper-slide
          .expert-item
            .expert-item__photo
              img(src="assets/img/expert-1.jpg", alt="")
            .expert-item__content
              h4.name Синкевич ЮлияВладимировна
              p.rank Директор
              p.descr  Директор обособленного подразделения в городе Новосибирске. Образование – среднее медицинское, высшее по специальности “социальная работа”. Опыт работы в социальной сфере более 20 лет.
        .swiper-slide
          .expert-item
            .expert-item__photo
              img(src="assets/img/expert-2.jpg", alt="")
            .expert-item__content
              h4.name Табуньщикова Алла Альбертовна
              p.rank Старшая сиделка
              p.descr  Образование – высшее педагогическое. Опыт работы в социальной сфере – более 20 лет. Ранее работала с детьми, с неблагополучными семьями.
        .swiper-slide
          .expert-item
            .expert-item__photo
              img(src="assets/img/expert-1.jpg", alt="")
            .expert-item__content
              h4.name Синкевич ЮлияВладимировна
              p.rank Директор
              p.descr  Директор обособленного подразделения в городе Новосибирске. Образование – среднее медицинское, высшее по специальности “социальная работа”. Опыт работы в социальной сфере более 20 лет.
      .expert-slider__controlles
        button.expert-slider__btn.expert-slider__btn--prev
          <svg width="27" height="9" viewBox="0 0 27 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4841 9C20.8743 8.17949 21.2514 7.46154 21.6156 6.84616C22.0058 6.23077 22.3829 5.71795 22.7471 5.30769H0V3.69231H22.7471C22.3829 3.25641 22.0058 2.73077 21.6156 2.11539C21.2514 1.5 20.8743 0.794872 20.4841 0H21.8497C23.4884 1.8718 25.2052 3.25641 27 4.15385V4.84616C25.2052 5.71795 23.4884 7.10256 21.8497 9H20.4841Z"/>
          </svg>
        button.expert-slider__btn.expert-slider__btn--next
          <svg width="27" height="9" viewBox="0 0 27 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4841 9C20.8743 8.17949 21.2514 7.46154 21.6156 6.84616C22.0058 6.23077 22.3829 5.71795 22.7471 5.30769H0V3.69231H22.7471C22.3829 3.25641 22.0058 2.73077 21.6156 2.11539C21.2514 1.5 20.8743 0.794872 20.4841 0H21.8497C23.4884 1.8718 25.2052 3.25641 27 4.15385V4.84616C25.2052 5.71795 23.4884 7.10256 21.8497 9H20.4841Z"/>
          </svg>
