section.plan
  .container
    .plan-head(data-aos="fade-up")
      p – что-то здесь написать –
      h2 Наши постояльцы получают
    .plan-body
        .plan-item
          .plan-item__content(data-aos="fade-right")
            h3 Полный и последующий уход за пожилым, больным человеком
            ul
              li Уход в режиме 24/7
              li Уход после перенесенных тяжелых заболеваний, травм (инфаркт, инсульт, перелом, операция)
              li Уход при тяжелых заболеваниях (Альцгеймер, Паркисон, сосудистая дистония, онкология)
          .plan-item__image(data-aos="fade-left")
            h3 Полный и последующий уход за пожилым, больным человеком
            img(src="assets/img/plan-1.svg", alt="")
        .plan-item
          .plan-item__content(data-aos="fade-right")
            h3 Круглосуточное наблюдение за состоянием здоровья
            ul
              li Мониторинг артериального давления
              li Следим за уровнем глюкозы в крови
              li Выявляем не переносимость от приема лекарственных препаратов
          .plan-item__image(data-aos="fade-left")
            h3 Круглосуточное наблюдение за состоянием здоровья
            img(src="assets/img/plan-2.svg", alt="")
        .plan-item
          .plan-item__content(data-aos="fade-right")
            h3 Подбор диетического и сбалансированного питания
            ul
              li Диета №10 для страдающих сосудистыми заболеваниями
              li Диета №9 для страдающих сахарным диабетом
              li Индивидуальная диета
          .plan-item__image(data-aos="fade-left")
            h3 Подбор диетического и сбалансированного питания
            img(src="assets/img/plan-3.svg", alt="")
        .plan-item
          .plan-item__content(data-aos="fade-right")
            h3 Организация психологической помощи и поддержки
            ul
              li Общение психолога с пациентом
              li Общение психолога с членами семьи
              li Проведение просветительских занятий для членов семьи
          .plan-item__image(data-aos="fade-left")
            h3 Организация психологической помощи и поддержки
            img(src="assets/img/plan-4.svg", alt="")
        .plan-item
          .plan-item__content(data-aos="fade-right")
            h3 Поддержание социальнойи физической активности
            ul
              li Физкультура
              li Мероприятия
              li Концерты
          .plan-item__image(data-aos="fade-left")
            h3 Поддержание социальнойи физической активности
            img(src="assets/img/plan-5.svg", alt="")
