section.routine
  .container
    .routine-head(data-aos="fade-up")
      p – что-то здесь написать –
      h2 Распорядок дня
    .routine-content
      .routine-content__images
        img(src="assets/img/routine-1.svg", alt="" data-aos="fade-right")
        img(src="assets/img/routine-2.svg", alt="" data-aos="fade-left")
      .routine-content__list
        .routine-content__item(data-aos="zoom-in-right")
          img(src="assets/img/icons/routine-1.svg", alt="")
          p Гигенические процедуры
        .routine-content__item(data-aos="zoom-in-right" data-aos-delay="200")
          img(src="assets/img/icons/routine-2.svg", alt="")
          p Медицинские процедуры
        .routine-content__item(data-aos="zoom-in-right" data-aos-delay="300")
          img(src="assets/img/icons/routine-3.svg", alt="")
          p ЛФК и массаж
        .routine-content__item(data-aos="zoom-in-right" data-aos-delay="400")
          img(src="assets/img/icons/routine-4.svg", alt="")
          p Прогулки
        .routine-content__item(data-aos="zoom-in-right" data-aos-delay="500")
          img(src="assets/img/icons/routine-5.svg", alt="")
          p Свидание с родственниками
        .routine-content__item(data-aos="zoom-in-right" data-aos-delay="600")
          img(src="assets/img/icons/routine-6.svg", alt="")
          p Досуговые мероприятия
