section.map
  .map-head
    p – всегда рады видеть вас –
    h2 Адрес и схема проезда
  .map-yandex
    script(async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A7f3923a8941b487e367c4fcd1701b547ebfaa5c5a9af791ac6f0a610333fe25e&amp;width=100%25&amp;height=100%25&amp;lang=ru_RU&amp;scroll=true")

section.map-footer
  .map-footer__descr Здесь должен бытьпродающий услугу текст
  button.btn.map-footer__btn(href="") доверить заботу
