footer.footer#footer
  .container
    .footer-block
      a.footer-logo(href="")
        img(src="assets/img/logo.svg", alt="")
      .footer-info
        .footer-copy
          p ООО “Пансионат Аврора”
          p 2022 © Все права защищены
        a(href="#") Политика конфедициальности
    .footer-social
      a(href="#" target="_blank")
        img(src="assets/img/icons/vk.svg", alt="ВКонтакте")
      a(href="#" target="_blank")
        img(src="assets/img/icons/ok.svg", alt="Однокласники")
