.popup#mainForm
  .popup__content
    .popup__body
      button.popup__close
      h2.popup__title Обратная Связь
      p.popup__text Заполните форму ниже и наши сотрудники свяжутся с вами
      form.popup__form._form
        .input-group
          .input
            input#name._req(type="text" placeholder="Имя *")
          span.error Поле обязательно к заполнению
        .input-group
          .input
            input._tel._req#tel(type="tel" placeholder="Номер телефона *")
          span.error Не верный формат телефона
        p.info-form Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных *
        button.btn.form-btn(type="submit") Отправить
        p.req-form Пожалуйста, заполните все обязательные поля

.popup#videoPopup
  .popup__content
    button.popup__close
    .popup__body.popup__empty
      .video__body

.popup#imagePopup
  .popup__content
    button.popup__close
    .popup__body.popup__empty
      .image__body

.popup#successForm
  .popup__content
    .popup__body
      button.popup__close
      h2.popup__title СПАСИБО!
      p.popup__text В ближайшее время с вами  свяжиться наш менеджер
