extends common/gallery

block gallery
  main.content 
    .gallery
        .container 
            .gallery__body 
                h1.gallery__title._title(data-aos="fade-right") Галерея
                .gallery__tabs.tabs-gallery(data-tabs="") 
                    nav.tabs-gallery__navigation(data-tabs-titles="")
                        button.tabs-gallery__title._tab-active(type="submit" data-aos="zoom-in-right" data-aos-delay="100") Интерьер
                        button.tabs-gallery__title(type="submit" data-aos="zoom-in-right" data-aos-delay="200") Жизнь
                        button.tabs-gallery__title(type="submit" data-aos="zoom-in-right" data-aos-delay="300") Персонал
                    .tabs-gallery__content(data-tabs-body="")
                        .tabs-gallery__body
                            .tabs-gallery__images 
                                a.tabs-gallery__image(href="assets/img/gallery/image-1.png" data-fancybox="gallery-interior" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-1.png", alt="image-1")
                                a.tabs-gallery__image(href="assets/img/gallery/image-2.png" data-fancybox="gallery-interior" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-2.png", alt="image-2")
                                a.tabs-gallery__image(href="assets/img/gallery/image-3.png" data-fancybox="gallery-interior" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/expert-1.jpg", alt="image-3")
                                a.tabs-gallery__image(href="assets/img/gallery/image-4.png" data-fancybox="gallery-interior" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-4.png", alt="image-4")
                                a.tabs-gallery__image(href="assets/img/gallery/image-5.png" data-fancybox="gallery-interior" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-5.png", alt="image-5")
                                a.tabs-gallery__image(href="assets/img/gallery/image-1.png" data-fancybox="gallery-interior" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-1.png", alt="image-6")
                                a.tabs-gallery__image(href="assets/img/gallery/image-2.png" data-fancybox="gallery-interior" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-2.png", alt="image-7")
                                a.tabs-gallery__image(href="assets/img/gallery/image-3.png" data-fancybox="gallery-interior" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-3.png", alt="image-8")
                                a.tabs-gallery__image(href="assets/img/gallery/image-4.png" data-fancybox="gallery-interior" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-4.png", alt="image-9")
                        .tabs-gallery__body
                            .tabs-gallery__images 
                                a.tabs-gallery__image(href="assets/img/gallery/image-1.png" data-fancybox="gallery-live" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-1.png", alt="image-1")
                                a.tabs-gallery__image(href="assets/img/gallery/image-2.png" data-fancybox="gallery-live" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-2.png", alt="image-2")
                                a.tabs-gallery__image(href="assets/img/gallery/image-3.png" data-fancybox="gallery-live" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-3.png", alt="image-3")
                                a.tabs-gallery__image(href="assets/img/gallery/image-4.png" data-fancybox="gallery-live" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-4.png", alt="image-4")
                                a.tabs-gallery__image(href="assets/img/gallery/image-5.png" data-fancybox="gallery-live" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-5.png", alt="image-5")
                                a.tabs-gallery__image(href="assets/img/gallery/image-1.png" data-fancybox="gallery-live" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-1.png", alt="image-6")
                                a.tabs-gallery__image(href="assets/img/gallery/image-2.png" data-fancybox="gallery-live" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-2.png", alt="image-7")
                                a.tabs-gallery__image(href="assets/img/gallery/image-3.png" data-fancybox="gallery-live" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-3.png", alt="image-8")
                        .tabs-gallery__body
                            .tabs-gallery__images 
                                a.tabs-gallery__image(href="assets/img/gallery/image-1.png" data-fancybox="gallery-personal" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-1.png", alt="image-1")
                                a.tabs-gallery__image(href="assets/img/gallery/image-2.png" data-fancybox="gallery-personal" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-2.png", alt="image-2")
                                a.tabs-gallery__image(href="assets/img/gallery/image-3.png" data-fancybox="gallery-personal" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-3.png", alt="image-3")
                                a.tabs-gallery__image(href="assets/img/gallery/image-4.png" data-fancybox="gallery-personal" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-4.png", alt="image-4")
                                a.tabs-gallery__image(href="assets/img/gallery/image-5.png" data-fancybox="gallery-personal" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-5.png", alt="image-5")
                                a.tabs-gallery__image(href="assets/img/gallery/image-1.png" data-fancybox="gallery-personal" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-1.png", alt="image-6")
                                a.tabs-gallery__image(href="assets/img/gallery/image-2.png" data-fancybox="gallery-personal" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-2.png", alt="image-7")
                                a.tabs-gallery__image(href="assets/img/gallery/image-3.png" data-fancybox="gallery-personal" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-3.png", alt="image-8")
                                a.tabs-gallery__image(href="assets/img/gallery/image-1.png" data-fancybox="gallery-personal" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-1.png", alt="image-9")
                                a.tabs-gallery__image(href="assets/img/gallery/image-2.png" data-fancybox="gallery-personal" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-2.png", alt="image-10")
                                a.tabs-gallery__image(href="assets/img/gallery/image-3.png" data-fancybox="gallery-personal" data-aos="zoom-in" data-aos-delay="500")
                                    img(src="assets/img/gallery/image-3.png", alt="image-11")
    
    