extends common/layout

block content
  main.content
    include includes/index/01-main
    include includes/index/02-about
    include includes/index/03-work
    include includes/index/04-expert
    include includes/index/05-plan
    include includes/index/06-routine
    include includes/index/07-feedbacks
    include includes/index/08-map
