extends common/info

block info
    main.content 
        .info
            .container 
                .info__body 
                    h1.info__title._title(data-aos="fade-right") Информация о медицинской деятельности
                    .info__documents 
                        .info__document.document-info(data-aos="fade-right" data-aos-delay="100")
                            a.document-info__link(href="http://site.com/files/file_name.mp3" download="") Договор о предоставлении социально-бытовых и платных медицинских услуг
                                img(src="assets/img/info/download.svg", alt="download")
                        .info__document.document-info(data-aos="fade-right" data-aos-delay="200")
                            a.document-info__link(href="http://site.com/files/file_name.mp3" download="") Информация о медицинской лицензии
                                img(src="assets/img/info/download.svg", alt="download")
                        .info__document.document-info(data-aos="fade-right" data-aos-delay="300")
                            a.document-info__link(href="http://site.com/files/file_name.mp3" download="") Медицинский персонал ООО Пансионат Аврора
                                img(src="assets/img/info/download.svg", alt="download")
                        .info__document.document-info(data-aos="fade-right" data-aos-delay="400")
                            a.document-info__link(href="http://site.com/files/file_name.mp3" download="") Прейскурант цен на платные услуги медицинского кабинета ООО Пансионат Аврора
                                img(src="assets/img/info/download.svg", alt="download")