extends common/prices

block prices
    main.content 
        .prices
            .container 
                .prices__body 
                    h1.prices__title._title(data-aos="fade-right") Стоимость размещения
                    .prices__content
                        .prices__categories.categories-prices
                            .categories-prices__item(data-aos="fade-right" data-aos-delay="100") 
                                h2.categories-prices__title 1-Я КАТЕГОРИЯ
                                p.categories-prices__text Полная способность к самообслуживанию
                                .categories-prices__price 1 300 ₽/сутки
                            .categories-prices__item(data-aos="fade-right" data-aos-delay="200") 
                                h2.categories-prices__title 2-Я КАТЕГОРИЯ
                                p.categories-prices__text Частичная способность к самообслуживанию
                                .categories-prices__price 1 400 ₽/сутки
                            .categories-prices__item(data-aos="fade-right" data-aos-delay="300") 
                                h2.categories-prices__title 3-Я КАТЕГОРИЯ
                                p.categories-prices__text Полная утрата способности к самообслуживанию
                                .categories-prices__price 1 500 ₽/сутки
                        .prices__info.info-prices
                            .info-prices__label(data-aos="fade-left" data-aos-delay="200") Что включено в стоимость
                            ul.info-prices__list
                                li.info-prices__item(data-aos="fade-left" data-aos-delay="300") 
                                    h3.info-prices__title Проживание
                                    p.info-prices__text Размещение в 2-х, 3-х местных комфортабельных номерах.
                                li.info-prices__item(data-aos="fade-left" data-aos-delay="400") 
                                    h3.info-prices__title Медицинское сопровождение
                                    p.info-prices__text Наблюдение врача терапевта. Мониторинг А.Д., контроль приема медицинских препаратов.
                                li.info-prices__item(data-aos="fade-left" data-aos-delay="500") 
                                    h3.info-prices__title Участие в досуговых мероприятиях
                                    p.info-prices__text Наши постояльцы ежедневно: рисуют, лепят, слушают музыку и играют в настольные игры. Гуляют на свежем воздухе.
                                li.info-prices__item(data-aos="fade-left" data-aos-delay="600") 
                                    h3.info-prices__title Питание
                                    p.info-prices__text Сбалансированное, диетическое 5-ти разовое питание.
                                li.info-prices__item(data-aos="fade-left" data-aos-delay="700")
                                    h3.info-prices__title Гигиенические процедуры
                                    p.info-prices__text Вечерний, утренний туалет. Мытье, стрижка.
                                li.info-prices__item(data-aos="fade-left" data-aos-delay="800")
                                    h3.info-prices__title Уборка и смена белья
                                    p.info-prices__text В пансионате особое внимание уделяется поддержанию чистоты.
                            