.feedbacks {
	padding: 72px 0;
	background: #d0e7f3;
	border-radius: 50px;
	margin: 0 4px;
}

.feedbacks-head {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	margin-bottom: 40px;
	p {
		margin: 0;
		font-size: 18px;
		line-height: 27px;
		text-align: center;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #55abca;
		margin-bottom: 7px;
	}
	h2 {
		margin: 0;
		font-size: 48px;
		line-height: 60px;
		text-align: center;
		text-transform: uppercase;
		color: #0d4862;
	}
}

.feedbacks-slider {
	overflow: hidden;
	&__controlles {
		padding-top: 35px;
		display: flex;
		justify-content: flex-end;
		align-items: stretch;
		gap: 18px;
	}
	&__btn {
		background: #53a5c3;
		border-radius: 14px;
		width: 50px;
		height: 50px;
		transition: all 0.5s ease;
		path {
			fill: #fff;
		}
		&:hover {
			background: darken($color: #53a5c3, $amount: 10);
		}
		&:active {
			transform: scale(0.95);
		}
		&.swiper-button-disabled {
			background: #d8d8d8;
			path {
				fill: #939393;
			}
		}

		&:first-child {
			transform: rotate(180deg);
			&:active {
				transform: rotate(180deg) scale(0.95);
			}
		}
	}
}

.feedbacks-video {
	&__images {
		height: 280px;
		width: 100%;
		border-radius: 40px;
		overflow: hidden;
		position: relative;
		margin-bottom: 10px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.5s ease;
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
			.feedbacks-video__link {
				opacity: 1;
			}
		}
	}
	&__link {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90px;
		height: 90px;
		background: url('../img/icons/play.svg') center center / contain no-repeat;
		opacity: 0.4;
		transition: all 0.5s ease;
	}
	h3 {
		margin: 0;
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		color: #0d4862;
		margin-bottom: 8px;
	}
	p {
		font-family: 'Roboto';
		margin: 0;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		color: #333333;
	}
}

.feedbacks-text {
	margin-top: 40px;
	font-family: 'Roboto';
	&__head {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 24px;

		margin-bottom: 24px;
		h4 {
			margin: 0;
			width: 80%;
			font-weight: 500;
			font-size: 24px;
			line-height: 32px;
			color: #0d4862;
		}
		p {
			margin: 0;
			font-size: 18px;
			line-height: 24px;
			margin-top: 8px;
			color: #333333;
		}
	}
	&__icon {
		flex: 0 0 99px;
		width: 99px;
		height: 96px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Roboto';
		font-size: 48px;
		line-height: 48px;
		color: #ffffff;
		background: #5ac7ef;
		border-radius: 14px;
	}
	&__descr {
		p {
			margin: 0;
			font-weight: 400;
			font-size: 18px;
			line-height: 24px;
			color: #333333;
			margin-bottom: 24px;
		}
		a {
			font-weight: 400;
			font-size: 18px;
			line-height: 24px;
			text-decoration-line: underline;
			color: #333333;
		}
	}
}

@include media-tablet {
	.feedbacks-text {
		&__head {
			h4 {
				width: 100%;
			}
			p {
				font-size: 16px;
			}
		}
		&__icon {
			display: none;
		}
		&__descr {
			p {
				font-size: 16px;
			}
			a {
				font-size: 16px;
			}
		}
	}
}

@include media-mobile-horizontal {
	.feedbacks {
		padding: 60px 0;
		border-radius: 24px;
	}
	.feedbacks-head {
		p {
			margin-bottom: 7px;
		}
		h2 {
			font-size: 24px;
			line-height: 29px;
		}
	}
}
