.btn {
	padding: 20px 32px;
	background: #ffd600;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	border-radius: 50px;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
	color: #333333;
	min-width: 230px;
	transition: all 0.5s ease;
	&:hover {
		background: #333333;
		color: #ffd600;
	}
	&:active {
		transform: scale(0.95);
	}
}

.btn-scroll {
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 50px;
	height: 50px;
	background: #0d4862;
	border-radius: 25px;
	transform: translateY(300px);
	transition: all 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	@include media-mobile-horizontal {
		bottom: 20px;
		right: 20px;
	}
	&::after {
		content: '';
		display: block;
		width: 28px;
		height: 28px;
		background: url('../img/arrow.svg') center center / contain no-repeat;
		transform: rotate(-180deg);
	}
	&:hover {
		background: darken($color: #0d4862, $amount: 10);
	}
	&:active {
		transform: scale(0.95);
	}
	&._fixed {
		transform: translateY(0);
	}
}
