@import '../../../gulp/node_modules/normalize.css/normalize';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

a {
	text-decoration: none;
	transition: all 0.3s ease;
}
a,
button {
	background: transparent;
	cursor: pointer;
	color: inherit;
	border: none;
}

html,
body {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	background: #55abca;
}

section {
	padding: 100px 0;
	@include media-tablet {
		padding: 80px 0;
	}
}

ul li {
	list-style: none;
}

form {
	margin: 0;
}
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='date'],
input[type='time'],
textarea {
	position: relative;
	overflow: hidden;
	width: 100%;
	border-radius: 50px;
	box-shadow: none;
	border: none;
	padding: 15px 22px;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	@include media-mobile {
		font-size: 16px;
		padding: 14px 18px;
	}
}
textarea {
	border-radius: 50px;
	height: 105px;
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
	width: 100%;
	padding: 15px;
	font-size: 18px;
	@include media-mobile {
		font-size: 16px;
	}
}
.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #d0e7f3;
	overflow: hidden;
}
.page-main {
	background-color: #55abca;
	overflow: hidden;
}
._lock {
	overflow: hidden;
}
.content {
	flex: 1 1 auto;
}
.content,
.header,
.footer {
	width: 100%;
}

.container {
	max-width: $mediaWidthLaptop;
	width: 100%;
	margin: 0 auto;
	@include media-tablet-horizontal {
		max-width: 940px;
	}
	@include media-tablet {
		padding: 0px 10px;
	}
}

._title {
	display: block;
	margin: 0px 0px 40px 0px;
	font-weight: 600;
	font-size: 48px;
	line-height: 1.48;
	text-transform: uppercase;
	color: #0d4862;
	@include media-tablet-horizontal {
		margin: 0px 0px 20px 0px;
	}
	@include media-mobile-horizontal {
		font-size: 38px;
	}
	@include media-mobile {
		font-size: 30px;
	}
}
